cardio.mat
sklearn_tests.ipynb
temp.ipynb
sklearn_tests.ipynb
__pycache__/knn.cpython-312.pyc
__pycache__/our_knn.cpython-312.pyc
__pycache__/plotting_functions.cpython-312.pyc
__pycache__/test_functions.cpython-312.pyc
__pycache__/train_and_evaluate.cpython-312.pyc
thyroid.mat
Szczesny-Kubiak-p1.pdf
shuttle.csv
